In [5]:
import numpy as np
import pandas as pd
cars=pd.read_csv("cars.csv")
cars.head(5)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [9]:
a=(np.sum(cars.MPG)*np.sum(cars.Weight*cars.Weight)-np.sum(cars.Weight)*np.sum(cars.Weight*cars.MPG))/(cars.Weight.count()*np.sum(cars.Weight*cars.Weight)-np.sum(cars.Weight)*np.sum(cars.Weight))
a

46.325305341697934

In [13]:
b=(cars.Weight.count()*np.sum(cars.Weight*cars.MPG)-np.sum(cars.Weight)*np.sum(cars.MPG))/(cars.Weight.count()*np.sum(cars.Weight*cars.Weight)-np.sum(cars.Weight)*np.sum(cars.Weight))
b

-0.00781162853863321