## Machine Learning - Session 3 -Slicing Data

In [ ]:
# Set the working directory



#Read the cars.csv data
import pandas as pd
cars = pd.read_csv("cars.csv")

#### 1. Choosing multiple columns

In [ ]:
#Select the coumns MPG, Weight and Horsepower
import pandas as pd
cars = pd.read_csv("cars.csv")
cars[["MPG","Weight","Horsepower"]].head(1)

In [ ]:
#OR

In [ ]:
#Using iloc (iloc allows you to give the indices)
import pandas as pd
cars = pd.read_csv("cars.csv")
cars.iloc[1:3,[1,5,4]]

In [1]:
#OR Using loc (loc allows you to give the names)
import pandas as pd
cars = pd.read_csv("cars.csv")
cars.loc[:,["MPG","Weight","Horsepower"]].head(1)

    MPG  Weight  Horsepower
0  18.0    3504         130

#### 3. Choosing rows

In [ ]:
#A. Choosing a single row from a single variable
import pandas as pd
cars = pd.read_csv("cars.csv")
cars.MPG[0]

In [ ]:
#OR
cars["MPG"][0]

In [ ]:
#OR using iloc
cars.iloc[0,1]

In [ ]:
#OR using loc
cars.loc[0,"MPG"]

In [ ]:
#B. Slicing few rows from a single variable
cars.MPG[10:20]

In [ ]:
#OR using loc
cars.loc[10:20,"MPG"]

In [ ]:
#C. Choosing some specific rows from  particular variable
cars.iloc[10:20,1]

In [ ]:
#D. Choosing some observations from all the variables
cars.loc[[1,4,6],"MPG"]

In [ ]:
#OR simply
cars.loc[[1,4,6],]

In [ ]:
cars.loc[[1,4,6]]

#### 4. Practice

In [ ]:
#a) Extract the information of the first 5 rows and firt 5 columns of the data
cars.iloc[0:5,0:5]

In [ ]:
#b) Extract the information of 20th-29th rows
cars.iloc[20:30,:]

In [ ]:
#c) Extract the information of only the columns MPG, Cylinders and Weight

In [9]:
#d) Extract a random sample of size 100 from the data (SRSWOR)
import numpy as np
np.random.seed(100)
rand=np.random.choice(range(0,len(cars)),100,replace=False))
rand

SyntaxError: invalid syntax (<ipython-input-9-6d9e08daac7a>, line 4)

#### 5. Condtional Subsetting

In [4]:
#a) Extract all the information of the cars which has MPG more than 40
cars.loc[cars.MPG>40,]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
251,Volkswagen Rabbit Custom Diesel,43.1,4,90.0,48,1985,21.5,78,Europe
316,Volkswagen Rabbit,41.5,4,98.0,76,2144,14.7,80,Europe
329,Mazda GLC,46.6,4,86.0,65,2110,17.9,80,Japan
331,Datsun 210,40.8,4,85.0,65,2110,19.2,80,Japan
332,Volkswagen Rabbit C (Diesel),44.3,4,90.0,48,2085,21.7,80,Europe
333,Volkswagen Dasher (diesel),43.4,4,90.0,48,2335,23.7,80,Europe
336,Honda Civic 1500 gl,44.6,4,91.0,67,1850,13.8,80,Japan
337,Renault Lecar Deluxe,40.9,4,85.0,0,1835,17.3,80,Europe
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe

In [5]:
#b) Extract the information of the car/s which has only 3 cylinders
cars.loc[cars.Cylinders==3,:]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
78,Mazda RX2 Coupe,19.0,3,70.0,97,2330,13.5,72,Japan
118,Mazda RX3,18.0,3,70.0,90,2124,13.5,73,Japan
250,Mazda RX-4,21.5,3,80.0,110,2720,13.5,77,Japan
341,Mazda RX-7 GS,23.7,3,70.0,100,2420,12.5,80,Japan

In [6]:
#c) Extract the information of all the cars originated in Europe and has Acceleration more than 20
cars.loc[(cars.Origin=="Europe")&(cars.Acceleration>20),:]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
25,Volkswagen 1131 Deluxe Sedan,26.0,4,97.0,46,1835,20.5,70,Europe
66,Volkswagen Type 3,23.0,4,97.0,54,2254,23.5,72,Europe
109,Volkswagen Super Beetle,26.0,4,97.0,46,1950,21.0,73,Europe
216,Peugeot 504,19.0,4,120.0,88,3270,21.9,76,Europe
251,Volkswagen Rabbit Custom Diesel,43.1,4,90.0,48,1985,21.5,78,Europe
304,Mercedes Benz 300d,25.4,5,183.0,77,3530,20.1,79,Europe
306,Peugeot 504,27.2,4,141.0,71,3190,24.8,79,Europe
332,Volkswagen Rabbit C (Diesel),44.3,4,90.0,48,2085,21.7,80,Europe
333,Volkswagen Dasher (diesel),43.4,4,90.0,48,2335,23.7,80,Europe
335,Mercedes-Benz 240d,30.0,4,146.0,67,3250,21.8,80,Europe
366,Peugeot 505s Turbo Diesel,28.1,4,141.0,80,3230,20.4,81,Europe
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe

In [8]:
#d) Name the cars which has MPG more than 40 and Acceleration less than 20 or the car has three cylinders
cars.loc[(cars.MPG>40)&(cars.Acceleration<20)|(cars.Cylinders==3),'Car']

78          Mazda RX2 Coupe
118               Mazda RX3
250              Mazda RX-4
316       Volkswagen Rabbit
329               Mazda GLC
331              Datsun 210
336     Honda Civic 1500 gl
337    Renault Lecar Deluxe
341           Mazda RX-7 GS
Name: Car, dtype: object