## Machine Learning - Session 1 - NumPy

In [44]:
#Import the numpy library
import numpy as np

#### A. Defining a 1D numpy array

In [45]:
import numpy as np
list1=[1,2,3,4]
x=np.array([1,2,3,4])
x
list1
type(x)

numpy.ndarray

#### B. Creating Regular Sequence

In [46]:
#Create a regular sequence of integers starting from 1 to 10. integers = c(1,2,3,4,.......,10)
import numpy as np
integer=np.arange(1,11,1)
integer

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [47]:
#Create a regular sequence of integers starting from 10 to 1.
i=np.arange(10,0,-1)
i

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [48]:
#Create a regular sequence of even integers between 10 to 20
i=np.arange(10,20,2)
i

array([10, 12, 14, 16, 18])

In [49]:
#Create a regular sequence of the following type: [10.0,10.5,11.0,11.5, ... , 19.5, 20.0]
i=np.arange(10,20.5,0.5)
i

array([10. , 10.5, 11. , 11.5, 12. , 12.5, 13. , 13.5, 14. , 14.5, 15. ,
       15.5, 16. , 16.5, 17. , 17.5, 18. , 18.5, 19. , 19.5, 20. ])

In [50]:
#Create a regular sequence of length 20 ranging from 0 to 5

np.linspace(start=5,stop=15,num=10,endpoint=True)

array([ 5.        ,  6.11111111,  7.22222222,  8.33333333,  9.44444444,
       10.55555556, 11.66666667, 12.77777778, 13.88888889, 15.        ])

In [51]:
#Help for np.linspace

help(np.linspace)

Help on function linspace in module numpy:

linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)
    Return evenly spaced numbers over a specified interval.

    Returns `num` evenly spaced samples, calculated over the
    interval [`start`, `stop`].

    The endpoint of the interval can optionally be excluded.

    .. versionchanged:: 1.16.0
        Non-scalar `start` and `stop` are now supported.

    Parameters
    ----------
    start : array_like
        The starting value of the sequence.
    stop : array_like
        The end value of the sequence, unless `endpoint` is set to False.
        In that case, the sequence consists of all but the last of ``num + 1``
        evenly spaced samples, so that `stop` is excluded.  Note that the step
        size changes when `endpoint` is False.
    num : int, optional
        Number of samples to generate. Default is 50. Must be non-negative.
    endpoint : bool, optional
        If True, `stop` is the last sample. Otherwise, it is not included.
        Default is True.
    retstep : bool, optional
        If True, return (`samples`, `step`), where `step` is the spacing
        between samples.
    dtype : dtype, optional
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.

        .. versionadded:: 1.9.0

    axis : int, optional
        The axis in the result to store the samples.  Relevant only if start
        or stop are array-like.  By default (0), the samples will be along a
        new axis inserted at the beginning. Use -1 to get an axis at the end.

        .. versionadded:: 1.16.0

    Returns
    -------
    samples : ndarray
        There are `num` equally spaced samples in the closed interval
        ``[start, stop]`` or the half-open interval ``[start, stop)``
        (depending on whether `endpoint` is True or False).
    step : float, optional
        Only returned if `retstep` is True

        Size of spacing between samples.


    See Also
    --------
    arange : Similar to `linspace`, but uses a step size (instead of the
             number of samples).
    geomspace : Similar to `linspace`, but with numbers spaced evenly on a log
                scale (a geometric progression).
    logspace : Similar to `geomspace`, but with the end points specified as
               logarithms.

    Examples
    --------
    >>> np.linspace(2.0, 3.0, num=5)
    array([ 2.  ,  2.25,  2.5 ,  2.75,  3.  ])
    >>> np.linspace(2.0, 3.0, num=5, endpoint=False)
    array([ 2. ,  2.2,  2.4,  2.6,  2.8])
    >>> np.linspace(2.0, 3.0, num=5, retstep=True)
    (array([ 2.  ,  2.25,  2.5 ,  2.75,  3.  ]), 0.25)

    Graphical illustration:

    >>> import matplotlib.pyplot as plt
    >>> N = 8
    >>> y = np.zeros(N)
    >>> x1 = np.linspace(0, 10, N, endpoint=True)
    >>> x2 = np.linspace(0, 10, N, endpoint=False)
    >>> plt.plot(x1, y, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.plot(x2, y + 0.5, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.ylim([-0.5, 1])
    (-0.5, 1)
    >>> plt.show()

In [52]:
#Studying the arange function

help(np.arange)

Help on built-in function arange in module numpy:

arange(...)
    arange([start,] stop[, step,], dtype=None)

    Return evenly spaced values within a given interval.

    Values are generated within the half-open interval ``[start, stop)``
    (in other words, the interval including `start` but excluding `stop`).
    For integer arguments the function is equivalent to the Python built-in
    `range` function, but returns an ndarray rather than a list.

    When using a non-integer step, such as 0.1, the results will often not
    be consistent.  It is better to use `numpy.linspace` for these cases.

    Parameters
    ----------
    start : number, optional
        Start of interval.  The interval includes this value.  The default
        start value is 0.
    stop : number
        End of interval.  The interval does not include this value, except
        in some cases where `step` is not an integer and floating point
        round-off affects the length of `out`.
    step : number, optional
        Spacing between values.  For any output `out`, this is the distance
        between two adjacent values, ``out[i+1] - out[i]``.  The default
        step size is 1.  If `step` is specified as a position argument,
        `start` must also be given.
    dtype : dtype
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.

    Returns
    -------
    arange : ndarray
        Array of evenly spaced values.

        For floating point arguments, the length of the result is
        ``ceil((stop - start)/step)``.  Because of floating point overflow,
        this rule may result in the last element of `out` being greater
        than `stop`.

    See Also
    --------
    linspace : Evenly spaced numbers with careful handling of endpoints.
    ogrid: Arrays of evenly spaced numbers in N-dimensions.
    mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.

    Examples
    --------
    >>> np.arange(3)
    array([0, 1, 2])
    >>> np.arange(3.0)
    array([ 0.,  1.,  2.])
    >>> np.arange(3,7)
    array([3, 4, 5, 6])
    >>> np.arange(3,7,2)
    array([3, 5])

#### C. Creating a Random Sequence

In [53]:
#Generate 20 random numbers between 1 and 100

np.random.seed(0)#seed is a function under random module under the numpy package
a=np.random.randint(1,100,20)
a

array([45, 48, 65, 68, 68, 10, 84, 22, 37, 88, 71, 89, 89, 13, 59, 66, 40,
       88, 47, 89])

In [54]:
import numpy as np
b=random.random(20)
b

NameError: name 'random' is not defined

In [ ]:
#Shuffle the vector x
lis=[1,2,3,4]
x=np.array(lis)
np.random.shuffle(x)
x

In [ ]:
np.random.choice(lis,2)

In [ ]:
np.ramdom.choice(x,)

In [ ]:
#Permute x and return it

To find more on numpy random sampling Go To this link 
https://docs.scipy.org/doc/numpy-1.12.0/reference/routines.random.html

#### D. Some basic numpy methods

In [ ]:
x = np.array([12,34,24,45,7,18])
x.size

In [ ]:
#Size of the array

In [ ]:
#data type
x = np.array([12,34,24,45,7,18])
x.dtype

In [ ]:
#Type of the object

In [ ]:
#Type conversion
x = np.array([12,34,24,45,'7',18])
x.dtype

In [ ]:
x = np.array([12,34,24,45,7,18])
x.astype(str)

#### E. Some basic (1D) numpy operations

In [ ]:
#Consider that we have two arrays

x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])

In [56]:
#Addition
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])
x+y

array([15, 40, 32, 50,  8, 28])

In [57]:
#Subtraction
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])
x-y

array([ 9, 28, 16, 40,  6,  8])

In [58]:
#Multiplication by scalar
y = np.array([3,6,8,5,1,10])
10*y

array([ 30,  60,  80,  50,  10, 100])

In [62]:
y = np.array([3,6,8,5,1,10])
(1.0/10)*y

array([0.3, 0.6, 0.8, 0.5, 0.1, 1. ])

In [63]:
y = np.array([3,6,8,5,1,10])
y/10

array([0, 0, 0, 0, 0, 1])

In [65]:
#Element wise multiplication (dot product)
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])
x.dot(y)

844

In [66]:
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])
y.dot(x)#dot product gives the sum of x*y

844

In [67]:
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])
np.sum(x*y)#dot product gives the sum of x*y

844

In [ ]:
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])
x*y

In [ ]:
#Using dot method

In [68]:
x = np.array([12,34,24,45,7,18])
np.sqrt(x)

array([3.46410162, 5.83095189, 4.89897949, 6.70820393, 2.64575131,
       4.24264069])

In [69]:
y = np.array([3,6,8,5,1,10])
np.exp(y)

array([2.00855369e+01, 4.03428793e+02, 2.98095799e+03, 1.48413159e+02,
       2.71828183e+00, 2.20264658e+04])

In [70]:
y = np.array([3,6,8,5,1,10])
np.log(y)

array([1.09861229, 1.79175947, 2.07944154, 1.60943791, 0.        ,
       2.30258509])

In [74]:
#Squaring each elements in an array
y = np.array([3,6,8,5,1,10])
np.square(y)

array([  9,  36,  64,  25,   1, 100])

In [73]:
y = np.array([3,6,8,5,1,10])
np.exp(y)

array([2.00855369e+01, 4.03428793e+02, 2.98095799e+03, 1.48413159e+02,
       2.71828183e+00, 2.20264658e+04])

#### F. Some Useful Numpy Functions

In [ ]:
y = np.array([3,6,8,5,1,10])

In [75]:
#Sum
y = np.array([3,6,8,5,1,10])
np.sum(y)

33

In [76]:
#Mean
y = np.array([3,6,8,5,1,10])
np.mean(y)

5.5

In [77]:
#Standard Deviation
y = np.array([3,6,8,5,1,10])
np.std(y)

2.9860788111948193

In [78]:
#Minimum
y = np.array([3,6,8,5,1,10])
np.min(y)

1

In [79]:
#Maximum
y = np.array([3,6,8,5,1,10])
np.max(y)

10

In [81]:
#Percentiles
y = np.array([3,6,8,5,1,10])
np.percentile(y,60)

6.0

In [80]:
sum(y)

33

In [84]:
#Sorting
y = np.array([3,6,8,5,1,10])#only sorts in ascending order
np.sort(y)
-np.sort(-y)#to sort in descending order

array([10,  8,  6,  5,  3,  1])

#### G. Subsetting a 1D numpy array

In [ ]:
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])

In [85]:
#Subsetting and slicing is same as list
x = np.array([12,34,24,45,7,18])
x[0]

12

In [86]:
x = np.array([12,34,24,45,7,18])
x[3:5]

array([45,  7])

In [87]:
x = np.array([12,34,24,45,7,18])
x[[2,4]]

array([24,  7])

#### H. Conditional Subsetting

**The Comparison Operators**

      > is greater than
      < is less than
      == is equal to
      <= is less than equal to
      >= is greater than equal to

In [ ]:
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])

In [88]:
x = np.array([12,34,24,45,7,18])
x>20

array([False,  True,  True,  True, False, False])

In [89]:
x = np.array([12,34,24,45,7,18])
sum(x>20)

3

In [ ]:
x = np.array([12,34,24,45,7,18])
len(x)

**The Logical Operators**

    AND: &
    OR : |

In [ ]:
x = np.array([12,34,24,45,7,18])
x>

**Problems**

In [ ]:
#Consider the following two vectors

x = np.array([33,45,23,67,54,48])
y = np.array([108,151,164,119,135,122])

In [2]:
np.logical_not(x<35)

array([False,  True, False,  True,  True,  True])

In [1]:
#a. Vaues of x that are less than 35
import numpy as np
x = np.array([33,45,23,67,54,48])
x[x< 35]

array([33, 23])

In [4]:
z=x<35

In [5]:
#b. The number of observations in y that are more than 150
import numpy as np
y = np.array([108,151,164,119,135,122])
y[y>150].size

2

In [6]:
import numpy as np
y = np.array([108,151,164,119,135,122])
sum(y>150)

2

In [ ]:
#OR

In [8]:
#c. The number of observations in y that are between 120 and 165
import numpy as np
y = np.array([108,151,164,119,135,122])
sum((y>=120)&(y<=165))

4

In [9]:
#d. The vaues in x that are less than 30 or greater than 50
x[((x<30)|(x>50))]

array([23, 67, 54])

In [10]:
#e. The values in x for which the values in y is less than or equal to 120
x = np.array([33,45,23,67,54,48])
y = np.array([108,151,164,119,135,122])
x[y<=120]

array([33, 67])

In [13]:
#f. The values in y for which the values in x is equal to 45
x = np.array([33,45,23,67,54,48])
y = np.array([108,151,164,119,135,122])
y[x==45]

array([151])

#### I. Defining a 2D numpy array

In [16]:
#Converting a 1D array into 2D array
x = np.array([33,45,23,67,54,48])
matrix=x.reshape(2,3)
matrix

array([[33, 45, 23],
       [67, 54, 48]])

In [ ]:
#Create a 3x3 matrix containing elements from 1 to 9

In [17]:
#Joining two 1D arrays to form a matrix
x = np.array([33,45,23,67,54,48])
y = np.array([108,151,164,119,135,122])

matrix=np.array([x,y])
matrix

array([[ 33,  45,  23,  67,  54,  48],
       [108, 151, 164, 119, 135, 122]])

#### J. Some basic methods for 2D numpy array

In [18]:
matrix = np.array([[38,33,47],
                    [29,48,35],
                    [21,34,47],
                    [38,44,21],
                    [28,26,43]])# each list becomes the row of the matrix
matrix

array([[38, 33, 47],
       [29, 48, 35],
       [21, 34, 47],
       [38, 44, 21],
       [28, 26, 43]])

In [19]:
#Checking the shape of the matrix
matrix.shape

(5L, 3L)

In [22]:
#Dimension of the array
import numpy as np
matrix.ndim

2

In [23]:
#Data type of the elements in the array
matrix.dtype

dtype('int32')

In [24]:
#Number of elements present in the matrix
matrix.size

15

In [25]:
#Size of the matrix in bytes
matrix.itemsize

4

#### K. Subsetting 2D numpy array

In [ ]:
#matrix

In [26]:
#a) Print the first element of the matrix.
matrix = np.array([[38,33,47],
                    [29,48,35],
                    [21,34,47],
                    [38,44,21],
                    [28,26,43]])
matrix[0,0]

38

In [27]:
#b) Print the last element of the matrix.
matrix[-1,-1]

43

In [29]:
matrix[matrix.shape[0]-1,matrix.shape[1]-1]

43

In [34]:
matrix.shape[1]

3L

In [ ]:
#Or

In [35]:
#c) Print the values of the first row.
matrix[0,:]

array([38, 33, 47])

In [37]:
#d) Print the values of the fourth row.
matrix = np.array([[38,33,47],
                    [29,48,35],
                    [21,34,47],
                    [38,44,21],
                    [28,26,43]])
matrix[3,:]

array([38, 44, 21])

In [38]:
#e) Print the values first column.
matrix[:,0]

array([38, 29, 21, 38, 28])

In [39]:
#f) Calculate the total of the third row.
sum(matrix[2,:])

102

In [40]:
#g) Calculate the total of the fifth row.
sum(matrix[4,:])

97

In [41]:
#h) Calculate the total of the second column.
sum(matrix[:,1])

185

In [ ]:
#i) Calculate the average of the values of the first row.

In [ ]:
#j) Replace the first value of the matrix by 50.

In [ ]:
#k) Replace the last value of the matrix by 30.

In [ ]:
#l) Replace the second column of the matrix by the vector (20,30,20,30,20)

In [ ]:
#m) Replace the first row of the matrix by the vector its average (calculated above).

In [ ]:
#q) Calculate the sum of all the elements of the matrix

In [ ]:
#r) Calculate the sum of all the rows on the matrix

In [ ]:
#s) Calculate the sum of all the colummns of the matrix

#### L. Matrix Operations

In [42]:
#Defining a matrix 'm'
m = np.array([[2,3],[4,5]])
m

array([[2, 3],
       [4, 5]])

In [43]:
#Defining a matrix 'n'
n = np.array([[1,0],[3,6]])
n

array([[1, 0],
       [3, 6]])

In [44]:
#Multiplication by scalar
2*n

array([[ 2,  0],
       [ 6, 12]])

In [45]:
#Matrix addition
m+n

array([[ 3,  3],
       [ 7, 11]])

In [46]:
#Matrix Multilication
np.dot(m,n)

array([[11, 18],
       [19, 30]])

In [48]:
#Preferred - for Matrix Multilication
np.matmul(m,n)

array([[11, 18],
       [19, 30]])

In [50]:
#Preferred - for Matrix Multilication
m @ n#works in python3

SyntaxError: invalid syntax (<ipython-input-50-f1092eb56832>, line 2)

In [51]:
#Element-wise array multilication
np.multiply(m,n)

array([[ 2,  0],
       [12, 30]])

#### Copying data

In [ ]:
p = np.array([2,5,8,6])

In [57]:
q=p
q[2]=10# changes the value of p as well
q

array([ 2,  5, 10,  6])

In [58]:
p

array([ 2,  5, 10,  6])

In [55]:
p = np.array([2,5,8,6]) #creating a copy of p
q=p.copy()
q

array([2, 5, 8, 6])

NameError: name 'python' is not defined